header{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: black;
}
nav li{
    display: inline;
    margin: 10px;

}
body{
    
    margin-left: 80px;
    margin-right: 100px;
}
.conteudo-main{
    display: flex;
}
    
    

.Texto-Principal{
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}
.Texto-Principal2{
    font-weight: normal;
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #363636;



}
.Homem-Digital{
    align-items: right;
    width: 50em;
}

.btn{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px 8px ;
    border: 0;
    /*border: 2px solid #dd499d;*/
    border-radius: 8px;
    background-color: #dd499d;
}

.btn a {
    color: #f3f3f3;

}

.btn:hover a {
    /* color: white; */
    transform: scale(1.1);
}

.btn:hover{
    transform: scale(1.1);
    /* background-color: #dd499d; */
}
